---
import config from "../../sanity.config";
import { renderStudio } from "sanity";
renderStudio(document.getElementById("app"), config);
export const prerender = false;
---

<div
    id="app"
    class="h-screen max-h-screen overflow-auto overscroll-none"
>
</div>
