---
const games = [
    {
        tag: "arcade",
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg",
        alt: "",
    },
    {
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg",
        alt: "",
    },
    {
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg",
        alt: "",
    },
    {
        tag: "arcade",
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg",
        alt: "",
    },
    {
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg",
        alt: "",
    },
    {
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg",
        alt: "",
    },
    {
        tag: "arcade",
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg",
        alt: "",
    },
    {
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg",
        alt: "",
    },
    {
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-8.jpg",
        alt: "",
    },
    {
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-9.jpg",
        alt: "",
    },
    {
        tag: "arcade",
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-10.jpg",
        alt: "",
    },
    {
        tag: "arcade",
        src: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg",
        alt: "",
    },
];
---

<div class="flex flex-wrap items-center justify-center py-4 md:py-8">
    <button
        type="button"
        class="mb-3 me-3 rounded-full border border-blue-600 bg-white px-5 py-2.5 text-center text-base font-medium text-blue-700 hover:bg-blue-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300 dark:border-blue-500 dark:bg-gray-900 dark:text-blue-500 dark:hover:bg-blue-500 dark:hover:text-white dark:focus:ring-blue-800"
        >All categories</button
    >
    <button
        type="button"
        class="mb-3 me-3 rounded-full border border-white bg-white px-5 py-2.5 text-center text-base font-medium text-gray-900 hover:border-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-900 dark:bg-gray-900 dark:text-white dark:hover:border-gray-700 dark:focus:ring-gray-800"
        >Arcade</button
    >
    <button
        type="button"
        class="mb-3 me-3 rounded-full border border-white bg-white px-5 py-2.5 text-center text-base font-medium text-gray-900 hover:border-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-900 dark:bg-gray-900 dark:text-white dark:hover:border-gray-700 dark:focus:ring-gray-800"
        >Bags</button
    >
    <button
        type="button"
        class="mb-3 me-3 rounded-full border border-white bg-white px-5 py-2.5 text-center text-base font-medium text-gray-900 hover:border-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-900 dark:bg-gray-900 dark:text-white dark:hover:border-gray-700 dark:focus:ring-gray-800"
        >Electronics</button
    >
    <button
        type="button"
        class="mb-3 me-3 rounded-full border border-white bg-white px-5 py-2.5 text-center text-base font-medium text-gray-900 hover:border-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-900 dark:bg-gray-900 dark:text-white dark:hover:border-gray-700 dark:focus:ring-gray-800"
        >Gaming</button
    >
</div>
<div class="grid grid-cols-2 gap-4 md:grid-cols-3">
    {
        games.map((game) => (
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src={game.src}
                    alt={game.alt}
                />
            </div>
        ))
    }
</div>
