---
import PricingCard from "../components/PricingCard.astro";
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-2 lg:grid-cols-4">
    <div class="flex justify-center lg:col-start-2">
        <PricingCard />
    </div>
    <div class="flex justify-center">
        <PricingCard />
    </div>
</div>
