<section class="my-8 bg-white dark:bg-gray-900">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6">
        <div class="mx-auto mb-8 max-w-screen-md lg:mb-16">
            <h1
                class="mb-16 text-center text-5xl font-extrabold dark:text-white"
            >
                Nos Services
            </h1>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                Notre bar-café, notre terrasse extérieure et nos 220 m2 nous
                permettent d'acceuillir tout au long de l'année vos évènemens de
                groupe . Nous organisons vos évènement sur mesure selon votre
                budget.
            </p>
        </div>
        <div
            class="space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0 lg:grid-cols-3"
        >
            <div>
                <div
                    class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
                >
                    <svg
                        class="h-5 w-5 text-primary-600 lg:h-6 lg:w-6 dark:text-primary-300"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 
                            4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.3-2a6 6 0 
                            0 0 0-6A4 4 0 0 1 20 8a4 4 0 0 1-6.7 3Zm2.2 9a4 4 0 0 0 .5-2v-1a6 6 
                            0 0 0-1.5-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.5Z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-white">
                    EVJ - EVF
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                    Plan it, create it, launch it. Collaborate seamlessly with
                    all the organization and hit your marketing goals every
                    month with our marketing plan.
                </p>
            </div>
            <div>
                <div
                    class="mb-4 flex h-10 w-10 items-center justify-center rounded-full
                     bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
                >
                    <svg
                        class="h-5 w-5 text-primary-600 lg:h-6 lg:w-6 dark:text-primary-300"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14c.6 0 1-.4 
                            1-1V7c0-.6-.4-1-1-1H5a1 1 0 0 0-1 1v12c0 .6.4 1 1 1Z"
                        ></path>
                    </svg>
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-white">
                    ANNIVERSAIRES 🎂
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                    Protect your organization, devices and stay compliant with
                    our structured workflows and custom permissions made for
                    you.
                </p>
            </div>
            <div>
                <div
                    class="mb-4 flex h-10 w-10 items-center justify-center rounded-full
                     bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
                >
                    <svg
                        class="h-5 w-5 text-primary-600 lg:h-6 lg:w-6 dark:text-primary-300"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            fill-rule="evenodd"
                            d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 
                            22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0
                             011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0
                              01-1-1z"
                            clip-rule="evenodd"
                        ></path><path
                            d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 
                            24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"
                        ></path></svg
                    >
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-white">
                    TEAM BUILDING
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                    Auto-assign tasks, send Slack messages, and much more. Now
                    power up with hundreds of new templates to help you get
                    started.
                </p>
            </div>
            <button
                type="button"
                class="col-start-2 inline-flex justify-center self-center rounded-lg
                 bg-blue-600 px-5 py-2.5 text-center text-sm font-medium text-white
                  hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-200
                   dark:focus:ring-blue-900"
                >Nous Contacter</button
            >
        </div>
    </div>
</section>
